html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei';
    position: relative;
}
.bcs-content {
    margin: auto;
    padding: 0 15px;
    width: 80%;
}
.bcs-content .page-header {
    border: 0;
    margin: 0;
}
.bcs-content .page-header h1 {
    padding-top: 20px;
    margin: 0;
}
.bcs-content #history tr td {
    line-height: 30px;
    padding: 5px 5px;
}

.bcs-content #history img {
    width: 27px;
    height: 27px;
    display: block;
    margin: auto;
}
.bcs-content #history a {
    outline: none;
}
.bcs-content #history a img{
    width: 35px;
    height: 27px;
}
.bcs-uploader {
    background-color: #fafafa;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0;
    padding: 25px 15px 15px;
    position: relative;
}
.bcs-uploader .bcs-area {
    border: 3px dashed #e6e6e6;
    margin: 20px;
}
.bcs-uploader .bcs-area .bcs-placeholder {
    background: url("../images/video.png") no-repeat scroll center 93px rgba(0, 0, 0, 0);
    color: #cccccc;
    font-size: 18px;
    min-height: 350px;
    padding-top: 178px;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bcs-uploader .bcs-area .bcs-placeholder p {
    margin: 0;
}
.bcs-uploader .bcs-area .bcs-placeholder .bcs-container {
    position: relative;
}
.bcs-uploader .bcs-area .bcs-placeholder .bcs-container .bcs-pick {
    font-size: 18px;
    line-height: 44px;
    margin: 0 auto 18px;
    padding: 0 30px;
}
.bcs-uploader .bcs-area .bcs-placeholder .bcs-container #video {
    display: none;
}
.bcs-uploader .bcs-area .bcs-video {
    display: none;
    position: relative;
}
.bcs-uploader .bcs-area .bcs-video:hover .glyphicon {
    opacity: 1;
    filter: alpha(opacity=100);
}
.bcs-uploader .bcs-area .bcs-video .bcs-view {
    display: inline-block;
}
.bcs-uploader .bcs-area .bcs-video .bcs-view img {
    float: left;
    width: 138px;
    height: 138px;
}
.bcs-uploader .bcs-area .bcs-video .bcs-view .bcs-info {
    margin: 5px 10px 0 20px;
    float: left;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
}
.bcs-uploader .bcs-area .bcs-video .bcs-view .bcs-info li {
    line-height: 20px;
    padding: 10px 15px;
}
.bcs-uploader .bcs-area .bcs-video .bcs-view .bcs-info li label {
    width: 150px;
}
.bcs-uploader .bcs-area .bcs-video .bcs-view .bcs-info li em {
    font-style: normal;
}
.bcs-uploader .bcs-area .bcs-video .glyphicon {
    cursor: pointer;
    font-size: 23px;
    color: #d44950;
    opacity: 0;
    filter: alpha(opacity=0);
    vertical-align: top;
}
.bcs-uploader .bcs-area .bcs-video .bcs-status {
    margin-top: 10px;
    border-top: 1px solid #dadada;
    height: 63px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
}
.bcs-uploader .bcs-area .bcs-video .bcs-status .progress {
    width: 570px;
    margin-top: 20px;
    display: none;
}
.bcs-uploader .bcs-area .bcs-video .bcs-status .bcs-btn-area {
    position: absolute;
    right: 0;
    top: 0;
}
.bcs-uploader .bcs-area .bcs-video .bcs-status .bcs-btn-area button {
    margin-left: 10px;
}
.bcs-uploader .bcs-area-drop {
    border-color: #999999;
}
.bcs-uploader .bcs-filled {
    border-color: transparent;
}
.bcs-line {
    padding-top: 15px;
    margin-top: 0;
    text-align: center;
}
.bcs-center {
    text-align: center;
}
.bcs-center a {
    display: block;
    outline: none;
}
.bcs-modal .modal-title {
    background: url(../images/sad.png) no-repeat 0 -5px;
    text-indent: 35px;
}
.bcs-modal .modal-body {
    color: #d44950;
} 